<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="yossiあいさつするプログラム.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <yossiあいさつするプログラム.My.MySettings>
            <setting name="shownotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alarm11" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="alarm12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alarm21" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="alarm22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alarm31" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="alarm32" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isappdataexist" serializeAs="String">
                <value>0</value>
            </setting>
        </yossiあいさつするプログラム.My.MySettings>
    </userSettings>
</configuration>